/* Hero Banner section styles (desktop: left = description+button, right = title) */
.hero-banner {
    position: relative;
    overflow: hidden;
    display: block;
    // @media (min-width: 1024px) {
    //     height: 100vh;
    // }
}

.hero-banner__media {
    @include ratio(1068/1440);
    overflow: hidden;

    .hero-banner__img {
        object-fit: cover;
        z-index: 1;
    }

    .hero-banner__overlay {
        display: block;

        @media (min-width: 1200px) {
            display: none;
        }
    }
}

// .hero-banner__img {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     display: block;
// }

.hero-banner__content {
    z-index: 2;
    position: absolute;
    z-index: 2;
    bottom: 75px;
    top: unset;
    width: 100%;
    display: flex;
    // align-items: center;

    @media (max-width: 1199px) {
        position: unset;
        background-color: rgba(9, 8, 8, 1);
    }
}

.hero-banner__desc {
    margin-bottom: 24px;
    max-width: 100%;

    @media (min-width: 1200px) {
        margin-bottom: 60px;
        max-width: 380px;
    }
}

.hero-banner__grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: end;

    @media (max-width: 1199px) {
        flex-direction: column-reverse;
        padding-bottom: 40px;
        margin-top: -100px;
        position: relative;
        z-index: 999;
    }

    @media (min-width: 1200px) {
        flex-direction: row;

        .hero-banner__left {
            flex: 1.5;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .hero-banner__right {
            flex: 2;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        .hero-banner__title {
            text-align: left;
            margin-left: 0;
            margin-right: auto;
            font-family: var(--font-beautique-display);
        }
    }
}

.hero-banner__left,
.hero-banner__right {
    width: 100%;
}

.hero-banner__title {
    @media (max-width: 1199px) {
        @include typo-token(76, 80, 400);
    }
    @media (max-width: 1023px) {
        @include typo-token(56, 70, 400);
    }
    @media (max-width: 575px) {
        @include typo-token(40, 48, 400);
    }
}


.hero-banner__cta {

    a {
        display: inline-block;
        text-align: center;
    }
}

.hero-banner__overlay {
    background: linear-gradient(0deg, rgba(9, 8, 8, 1) 0, rgba(9, 8, 8, 0) 72%);
    bottom: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
    display: none;

    @media (min-width: 1200px) {
        display: block;
    }
}

.typo-system-button {
    @media (max-width: 1199px) {
        display: block;
    }
}