.section-shape {
  position: absolute;
  pointer-events: none;
  z-index: 0;
  display: block;

  @media (max-width: 1199px) {
    display: none;
  }
}

.section-shape--triangle {
  width: 0;
  height: 0;
}

.section-shape--circle {
  border-radius: 50%;
}
