.for-company {
  background: linear-gradient(to right,
      #1B1818 0%,
      #1B1919 100%);
  color: #ffffff;
  position: relative;
  padding: 80px 0;

  @media (min-width: 1024px) {
    padding: 160px 0;
  }
}

.for-company__grid {
  display: block;

  @include clearfix();

  @media (max-width: 1023px) {
    display: flex;
    flex-direction: column;
  }
}

.for-company__header {
  flex-direction: column;
  text-align: left;
}

.for-company__title {
  margin-bottom: 64px;

  &.desktop {
    display: none;

    @media (min-width: 1024px) {
      display: block;
    }
  }

  &.mobile {
    display: block;
    text-align: center;
    margin-bottom: 24px;

    @media (min-width: 1024px) {
      display: none;
    }
  }
}

.for-company__light {
  position: absolute;
  left: auto;
  right: 0;
  top: 0;
  z-index: 0;

  @media (min-width: 1440px) {
    transform: scale(1.5);
  }
}


.for-company__description {
  @include content-style();
}

.for-company__actions {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 0;

  @media (min-width: 1024px) {
    margin-top: 40px;
  }

  a {
    @media (max-width: 1023px) {
      width: 100%;
      text-align: center;
    }
  }
}

.for-company__button {
  padding-left: 70px;
  padding-right: 70px;
}

.for-company__button--primary {}

.for-company__button--secondary {
  background-color: transparent;
  border: 1px solid var(--system-white);
}

.for-company__content {
  float: right;
  width: 100%;

  @media (min-width: 1024px) {
    width: 50%;
  }
}

.for-company__content-wrap {
  padding-left: 0;

  @media (min-width: 992px) {
    padding-left: 140px;
  }
}

.for-company__media {
  float: left;
  width: 100%;
  margin-bottom: 24px;

  @media (min-width: 1024px) {
    width: 50%;
    margin-bottom: 0;
  }

  &-primary {
    padding-top: 0;

    @media (min-width: 992px) {
      padding-top: 40px;
    }
  }
}