.for-company {
  background: #090808;
  color: #ffffff;
  position: relative;
}

.for-company__grid {
  display: block;

  @include clearfix();
}

.for-company__header {
  flex-direction: column;
  text-align: left;
}

.for-company__title {
  margin-bottom: 64px;
}

.for-company__light {
  position: absolute;
  top: -190px;
  left: 0;
  z-index: 0;
  transform: scale(1);
  display: none;

  @media (min-width: 1440px) {
    transform: scale(1.5);
  }
}

.for-company__description {
  color: var(--system-content-2);
  @include typo-text-lg(400);

  h2,
  h3,
  h4,
  strong {
    color: #fff;
    @include typo-display-xs(500);
  }

  h2,
  h3,
  h4 {
    margin-bottom: 16px;
  }

  p {
    margin-bottom: 16px;
    @include typo-text-lg(400);
  }

  ul {
    margin-bottom: 16px;
    list-style-type: disc;
    margin-left: 33px;

    li {
      margin-bottom: 10px;
      @include typo-text-lg(400);
    }
  }
}

.for-company__actions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2.5rem;
}

.for-company__button {}

.for-company__button--primary {}

.for-company__button--secondary {
  background-color: transparent;
  border: 1px solid var(--system-white);
}

.for-company__content {
  float: right;
  width: 50%;
}

.for-company__media {
  float: left;
  width: 50%;
}