.for-company {
  // background: linear-gradient(to right,
  //     #1B1818 0%,
  //     #1B1919 100%);
  color: #ffffff;
  position: relative;
  padding: 80px 0;

  @media (min-width: 1200px) {
    padding: 160px 0;
  }
}

.for-company__grid {
  display: block;

  @include clearfix();

  @media (max-width: 1199px) {
    display: flex;
    flex-direction: column;
  }
}

.for-company__header {
  flex-direction: column;
  text-align: left;
}

.for-company__title {
  margin-bottom: 64px;

  &.desktop {
    display: none;

    @media (min-width: 1200px) {
      display: block;
    }
  }

  &.mobile {
    display: block;
    text-align: center;
    margin-bottom: 24px;

    @media (min-width: 1200px) {
      display: none;
    }
  }
}

// .for-company__light {
//   position: absolute;
//   left: auto;
//   right: 0;
//   top: 0;
//   z-index: 0;

//   @media (min-width: 1440px) {
//     transform: scale(1.5);
//   }
// }


.for-company__description {
  @include content-style();
}

.for-company__actions {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 0;

  @media (min-width: 1200px) {
    margin-top: 40px;
  }

  a {
    @media (max-width: 1199px) {
      width: 100%;
      text-align: center;
    }
  }
}

.for-company__button {
  padding-left: 70px;
  padding-right: 70px;
}

.for-company__button--primary {}

.for-company__button--secondary {
  background-color: transparent;
  border: 1px solid var(--system-white);
}

.for-company__content {
  float: right;
  width: 100%;

  @media (min-width: 1200px) {
    width: 50%;
  }
}

.for-company__content-wrap {
  padding-left: 0;

  @media (min-width: 1200px) {
    padding-left: 100px;
  }
}

.for-company__media {
  float: left;
  width: 100%;
  margin-bottom: 24px;
  position: relative;

  @media (min-width: 1200px) {
    width: 50%;
    margin-bottom: 0;
  }

  &-primary {
    padding-top: 0;
    position: relative;

    @media (min-width: 1200px) {
      padding-top: 40px;
    }

    @media (max-width: 1199px) {
      .image {
        text-align: center;
      }
    }
  }
}

.for-company__shape {
  bottom: -40px;
  pointer-events: none;
  position: absolute;
  z-index: 0;
}

.for-company__shape--square {
  background-color: #fdd300;
  height: 380px;
  left: -30px;
  width: 433px;
  bottom: 90px;
  z-index: 0;
}