@import './mixins/index';
@import './global/index';
@import './theme/critical_index';

.flexible-content {
    background-color: var(--bg-body);
}

.page-about {
    .image__light {
        Z-index: 0;
    }
}

.home .flexible-content {
    margin-top: 0;

    @media(min-width: 1200px) {
        margin-top: -86px;
    }
}

@import './sections/hero-banner/style';