.for-school {
  // background: #090808;
  color: #ffffff;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  overflow: unset;

  @media (min-width: 1200px) {
    padding-top: 180px;
    padding-bottom: 75px;
  }

  .image__light.mobile {
    left: -24px;
    display: none;
  }

  .image__light.desktop {
    top: -135px
  }
}

.for-school__grid {
  display: block;

  @include clearfix();

  @media (max-width: 1199px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.for-school__header {
  flex-direction: column;
  text-align: left;
  padding-right: 0;

  @media (min-width: 1200px) {
    padding-right: 100px;
  }
}

.for-school__title {
  margin-bottom: 80px;

  &.desktop {
    display: none;

    @media (min-width: 1200px) {
      display: block;
    }
  }

  &.mobile {
    display: block;
    text-align: center;
    margin-bottom: 24px;

    @media (min-width: 1200px) {
      display: none;
    }
  }
}

// .for-school__light {
//   position: absolute;
//   left: 0;
//   z-index: 0;
//   top: 0;
//   display: none;

//   @media (min-width: 1200px) {
//     display: block;
//   }

//   @media (min-width: 1440px) {
//     transform: scale(1.5);
//   }
// }

// .for-school__content .for-school__light {
//   position: absolute;
//   left: 0;
//   z-index: 0;
//   top: 0;
//   display: block;
//   left: -24px;

//   @media (min-width: 1200px) {
//     display: none;
//   }
// }

.for-school__description {
  @include content-style();
}

.for-school__actions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 0;

  @media (min-width: 1200px) {
    margin-top: 40px;
  }

  a {
    @media (max-width: 1199px) {
      width: 100%;
      text-align: center;
    }
  }
}

.for-school__button {}

.for-school__button--primary {}

.for-school__button--secondary {
  background-color: transparent;
  border: 1px solid var(--system-white);
}

.for-school__content {
  float: left;
  width: 100%;
  position: relative;

  @media (min-width: 1200px) {
    width: 50%;
  }
}

.for-school__media {
  float: right;
  position: relative;
  width: 100%;
  margin-top: 0;
  margin-bottom: 250px;

  > :not(.for-school__shape) {
    position: relative;
    z-index: 1;
  }

  @media (min-width: 768px) {
    margin-bottom: 200px;
  }

  @media (min-width: 1200px) {
    width: 50%;
    margin-bottom: 0;
    // margin-top: 200px;
  }

  &-primary {
    padding-left: 0;

    @media (min-width: 1200px) {
      padding-left: 60px;
    }
  }
}

.for-school__shape {
  bottom: -40px;
  pointer-events: none;
  position: absolute;
  z-index: 0;
}

.for-school__shape--square {
  background-color: #1ac2ec;
  height: 375px;
  left: 0;
  width: 315px;
  bottom: -250px;
}

.for-school__shape--circle {
  border: 41px solid #712b8f;
  border-radius: 50%;
  height: 275px;
  left: 125px;
  top: -60px;
  width: 275px;
}

.for-school__media-primary {
  margin-bottom: 24px;

  .image {
    @media (max-width: 1199px) {
      text-align: center;
    }
  }

  @media (min-width: 1200px) {
    margin-bottom: 0;
  }
}

#fc-for-company-1 .image__light--right,
#overview .image__light--right {
  display: none;
}

#our-approach.for-school {
  color: var(--system-white);

  .image__light--left {
    display: none;
  }

  @media (max-width: 1199px) {
    padding-top: 0;
  }

  .for-school__media {
    margin-top: 0;
  }

  .for-school__title {
    color: var(--system-white);
    margin-bottom: 50px;
  }

  .for-school__description ul li {
    color: rgba(255, 255, 255, 0.7);
    @include typo-token(22, 30, 400);
  }

  // .for-school__image-wrap {
  //   img {
  //     max-width: unset;
  //   }
  // }

  .for-school__shape--circle {
    display: none;
  }

  .for-school__shape--square {
    background-color: #aacf37;
    right: 45px;
    bottom: 35px;
    left: auto;
  }

  @media (min-width: 1200px) {
    .for-school__header {
      padding-right: 35px;
    }
  }

  @media (min-width: 1200px) {
    .for-school__media-primary {
      padding-left: 0px;
    }
  }
}

#fc-for-company-1.for-school {
  padding-top: 80px;
  padding-bottom: 80px;

  @media (min-width: 1200px) {
    padding-top: 105px;
    padding-bottom: 180px;
  }

  .for-school__shape--circle {
    display: none;
  }

  .for-school__shape--square {
    background-color: #FDD300;
    left: 0;
    bottom: 70px;
  }
}

.for-school__media-primary {
  display: flex;
  justify-content: flex-end;
  position: relative;

  figure {
    @include ratio(520/424);
    width: 424px;
    text-align: right;

    @media (max-width: 1199px) {
      width: 80%;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border: 1px solid rgba(#ffffff, 0.7);
      transform: scale(0.5);
      transform-origin: 0 0;
      width: calc(200% - 3px);
      height: calc(200% - 2px);
      pointer-events: none;
      z-index: 1;
    }

    .for-school__image--primary {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }
  }
}

.for-school__media-secondary {
  position: absolute !important;
  bottom: -200px;
  left: 50px;
  z-index: 1;

  @media (max-width: 767px) {
    bottom: -150px;
  }

  @media (max-width: 1199px) {
    left: 0;
  }

  figure {
    @include ratio(352/306);
    width: 339px;

    @media (max-width: 575px) {
      @include ratio(176/153);
      width: 153px;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border: 1px solid rgba(#ffffff, 0.7);
      transform: scale(0.5);
      transform-origin: 0 0;
      width: calc(200% - 3px);
      height: calc(200% - 2px);
      pointer-events: none;
      z-index: 2;
    }

    .for-school__image--secondary {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }
  }
}