.for-school {
  background: #090808;
  color: #ffffff;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;

  @media (min-width: 1024px) {
    padding-top: 75px;
    padding-bottom: 120px;
  }
}

.for-school__grid {
  display: block;

  @include clearfix();

  @media (max-width: 1023px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.for-school__header {
  flex-direction: column;
  text-align: left;
  padding-right: 0;

  @media (min-width: 992px) {
    padding-right: 120px;
  }
}

.for-school__title {
  margin-bottom: 80px;

  &.desktop {
    display: none;

    @media (min-width: 1024px) {
      display: block;
    }
  }

  &.mobile {
    display: block;
    text-align: center;
    margin-bottom: 24px;

    @media (min-width: 1024px) {
      display: none;
    }
  }
}

.for-school__light {
  position: absolute;
  left: 0;
  z-index: 0;
  top: 0;
  display: none;

  @media (min-width: 1024px) {
    display: block;
  }

  @media (min-width: 1440px) {
    transform: scale(1.5);
  }
}

.for-school__content .for-school__light {
  position: absolute;
  left: 0;
  z-index: 0;
  top: 0;
  display: block;
  left: -24px;

  @media (min-width: 1024px) {
    display: none;
  }
}

.for-school__description {
  @include content-style();
}

.for-school__actions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 0;

  @media (min-width: 1024px) {
    margin-top: 40px;
  }

  a {
    @media (max-width: 1023px) {
      width: 100%;
      text-align: center;
    }
  }
}

.for-school__button {}

.for-school__button--primary {}

.for-school__button--secondary {
  background-color: transparent;
  border: 1px solid var(--system-white);
}

.for-school__content {
  float: left;
  width: 100%;
  position: relative;

  @media (min-width: 1024px) {
    width: 50%;
  }
}

.for-school__media {
  float: right;
  width: 100%;

  @media (min-width: 1024px) {
    width: 50%;
  }

  &-primary {
    padding-left: 0;

    @media (min-width: 992px) {
      padding-left: 60px;
    }
  }
}

.for-school__media-primary {
  margin-bottom: 24px;

  @media (min-width: 1024px) {
    margin-bottom: 0;
  }
}

#our-approach.for-school {
  background-color: rgba(246, 244, 237, 1);
  color: var(--system-black);

  .for-school__title {
    color: var(--system-black);
    margin-bottom: 50px;
  }

  .for-school__description ul li {
    color: rgba(100, 100, 100, 1);
    @include typo-token(22, 30, 400);
  }

  .for-school__image-wrap {
    img {
      max-width: unset;
    }
  }

  @media (min-width: 992px) {
    .for-school__header {
      padding-right: 35px;
    }
  }

  @media (min-width: 992px) {
    .for-school__media-primary {
      padding-left: 0px;
    }
  }
}

#fc-for-company-1.for-school {
  padding-top: 105px;
  padding-bottom: 180px;

  .for-school__image-wrap {
    img {
      max-width: unset;
    }
  }
}