.relate-product-section {
  margin-top: 75px;
  overflow: unset;

  .swiper-button {
    position: unset;
    margin: 0;
  }

  .relate-product-control {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 24px;
    position: absolute;
    left: 0;
    width: 100%;
    top: -55px;
    bottom: auto;
    z-index: 9;

    @media (max-width: 1023px) {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      justify-content: center;
    }

    .nav {
      display: flex;
      gap: 24px;
    }
  }

  .swiper-grid-column>.swiper-wrapper {
    flex-direction: unset;
  }

  .swiper-slide {
    margin-top: 0 !important;
    margin-bottom: 24px;
  }
}

.relate-product-section__header {
  // margin-bottom: 108px;
}

.relate-product-section__shell {
  position: relative;

  // &::before {
  //   background-color: rgb(72, 189, 166);
  //   top: 60px;
  //   content: "";
  //   height: 456px;
  //   left: -200px;
  //   pointer-events: none;
  //   position: absolute;
  //   width: 456px;
  //   z-index: 0;
  //   border-width: 0px;
  //   border-style: none;
  //   border-color: currentcolor;
  //   border-image: initial;
  //   border-radius: 50%;
  // }
}

.relate-product-section__title {
  color: var(--system-white);
  @include typo-display-sm(700, 38);
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}

.relate-product-section__heading {
  text-align: left;
}


.relate-product-section__slide {
  position: relative;

  // .team-card__description {
  //   display: none;
  // }
}

// .relate-product-section__slide.swiper-slide-active {
//   .team-card__description {
//     display: block;
//   }

//   .team-card {
//     display: flex;
//     flex-direction: column-reverse;
//   }
// }

// .relate-product-section__slide.swiper-slide-next {
//   .team-card {
//     display: flex;
//     flex-direction: column;
//   }
// }

// .relate-product-section__slide.swiper-slide-next+.swiper-slide {
//   .team-card {
//     display: flex;
//     flex-direction: column-reverse;
//   }
// }

.relate-product-section__slider-wrap {

  .swiper-button {
    top: -50px;
    left: auto;
    right: 0;
    position: unset;
    color: var(--system-white);
    border: 1px solid var(--system-white);

    &.swiper-button-prev {
      right: 50px;
    }
  }

  // &::before {
  //   content: '';
  //   width: 0;
  //   height: 0;
  //   border-left: 105px solid transparent;
  //   border-right: 105px solid transparent;
  //   border-bottom: 210px solid rgba(222, 31, 38, 0.2);
  //   position: absolute;
  //   left: -50px;
  //   bottom: -30px;
  //   z-index: 2;
  //   pointer-events: none;
  //   z-index: -1;
  // }

  // &::after {
  //   content: '';
  //   width: 456px;
  //   height: 456px;
  //   background-color: rgba(48, 189, 166, 0.2);
  //   position: absolute;
  //   right: -15%;
  //   bottom: -50%;
  //   z-index: 2;
  //   border-radius: 50%;
  //   pointer-events: none;
  //   z-index: -1;
  // }
}

.relate-product-section__swiper {
  position: relative;
  z-index: 2;

  .swiper-wrapper {
    padding-top: 20px;

    @media (max-width: 1023px) {
      padding-top: 60px;
    }
  }

  // .swiper-slide-next {
  //   position: relative;

  //   &::after {
  //     content: "";
  //     position: absolute;
  //     right: -20px;
  //     top: -20px;
  //     z-index: -1;
  //     width: 255px;
  //     height: 255px;
  //     background-color: rgba($color: #0050A2, $alpha: 0.2);
  //   }
  // }
}