.heading {
    text-align: center;

    display: flex;
    flex-direction: column-reverse;

    &__title {
        color: var(--system-white);
        @include typo-token(30, 42, 400);
        font-family: var(--font-beautique-display);

        @media (min-width: 1200px) {
            @include typo-token(75, 115, 400);
        }
    }

    &__description {

        color: var(--system-content-2);
        @include typo-token(18, 30, 400);

        @media (min-width: 1200px) {
            @include typo-display-xs(400);
        }

        p {
            color: var(--system-content-2);
            @include typo-token(18, 30, 400);

            @media (min-width: 1200px) {
                @include typo-display-xs(400);
            }
        }
    }
}