.product-cat-grid {
    background: #090808;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;

    @media (min-width: 1024px) {
        padding-top: 120px;
        padding-bottom: 290px;
    }

    &__main-container {
        position: relative;
    }

    &__light {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;
        width: 100%;

        @media (min-width: 1440px) {
            width: auto;
        }

        img {
            width: 100%;
            height: auto;

            @media (min-width: 1440px) {
                width: auto;
            }
        }
    }

    &__logo {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;
        display: none;

        @media (min-width: 1440px) {
            display: block;
        }
    }

    &__wrapper {
        position: relative;
        z-index: 2;
        width: 100%;
        display: block;

        @include clearfix;

        .triangle {
            width: 0;
            height: 0;
            border-bottom: 245px solid rgba(253, 211, 0, .4);
            border-left: 130px solid transparent;
            border-right: 130px solid transparent;
            transform: rotate(180deg);
            position: absolute;
            right: -40px;
            top: 0;
            display: none;

            @media (min-width: 1024px) {
                display: block;
            }
        }

        &::before {
            content: '';
            height: 243px;
            width: 243px;
            position: absolute;
            bottom: 0;
            left: -40px;
            background: var(--primary-500);
            pointer-events: none;
            z-index: 0;
            display: none;

            @media (min-width: 1024px) {
                display: block;
            }
        }
    }

    &__header {
        margin-bottom: 40px;

        @media (min-width: 1024px) {
            margin-bottom: 80px;
        }

    }

    &__item {
        position: relative;
        overflow: hidden;
        background: #111;
        margin-right: 0;
        float: left;
        margin-bottom: 20px;
        width: 100%;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background: linear-gradient(90deg,
                    rgba(9, 8, 8, 0) 0%,
                    #090808 72%);
            pointer-events: none;
            z-index: 1;
            height: 25%;
        }

        &:nth-child(2) {
            margin-bottom: 20px;

            @media (min-width: 1024px) {
                margin-bottom: 40px;
            }
        }

        &:nth-child(3) {
            margin-top: 0;

            @media (min-width: 1024px) {
                margin-top: 40px;
            }
        }

        &:nth-child(4) {
            margin-bottom: 20px;

            @media (min-width: 1024px) {
                margin-bottom: 40px;
            }
        }

        &:nth-child(5) {
            margin-top: 0;

            @media (min-width: 1024px) {
                margin-top: 40px;
            }
        }

        &:last-child {
            margin-right: 0;
        }

        @media (min-width: 768px) {
            width: 50%;
            margin-right: 30px;
            margin-bottom: 0;
        }

        @media (min-width: 1024px) {
            width: calc(25% - 22.5px);
        }
    }

    &__link {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        color: #fff;
        text-decoration: none;
    }

    & .image {

        @include ratio(207/342);

        @media (min-width: 1024px) {
            @include ratio(437/298);
        }
    }

    &__label {
        position: absolute;
        left: 24px;
        right: 24px;
        bottom: 22px;
        z-index: 2;
        color: var(--system-white);
        @include typo-token(36, 48, 400);
        font-family: var(--font-playfair-display);
        text-align: center;
    }
}