.woocommerce-breadcrumb {
	width: 100%;
	background-color: transparent;
	position: relative;
	z-index: 1;

	.woocommerce-breadcrumb__container {
		padding-top: 10px;
		padding-bottom: 10px;

		@media (max-width: 575px) {
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}

		a {
			color: var(--system-content-2);
		}

		color: var(--primary-500);

		.woocommerce-breadcrumb-wrap {
			align-items: flex-start;
		}

		.woocommerce-breadcrumb-wrap-text {
			white-space: normal;
		}

		svg path {
			fill: var(--system-content-2);
		}
	}
}