@mixin style-price {
	display: flex;
	flex-direction: column;
	margin-bottom: 0;
	width: 50%;
	order: 2;

	@media (min-width: 576px) {
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-end;
	}

	ins {
		text-decoration: none;
		order: 1;
	}

	span bdi {
		color: var(--price-color);
		font-weight: bold;
		font-size: 14px;

		@media (min-width: 576px) {
			font-size: 16px;
		}
	}

	ins span {
		color: var(--price-color);
		font-weight: bold;
		font-size: 14px;

		@media (min-width: 576px) {
			font-size: 16px;
		}
	}

	del {
		margin-left: 0.25em;
		opacity: 1;
		text-decoration: none;
		order: 2;

		span {
			bdi {
				color: var(--body-text-color);
				font-weight: 400;
				text-decoration: line-through;
				font-size: 14px;
			}
		}
	}
}

.woocommerce-breadcrumb {
	width: 100%;
	background-color: transparent;
	margin-top: 20px;
	margin-bottom: 52px;

	.woocommerce-breadcrumb__container {
		padding-top: 0.625em;
		padding-bottom: 0.625em;

		@media (max-width: 576px) {
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}

		a {
			color: var(--primary);
		}
	}
}