/*----------------------------------------*/
/*  Breadcrumb
/*----------------------------------------*/


/*----------------------------------------*/
/*  Layout
/*----------------------------------------*/
.product__detail {
	@include row(0);
	flex-flow: row wrap;

	.woocommerce-product-gallery {
		flex: 0 0 100%;
		max-width: 100%;
		order: 1;
		padding-left: 0;
		padding-right: 0;

		@media (min-width: 1024px) {
			flex: 0 0 39%;
			max-width: 39%;
			order: 1;
			padding-left: 0;
			padding-right: 0;
		}
	}

	.summary.entry-summary {
		flex: 0 0 100%;
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
		order: 2;

		@media (min-width: 1024px) {
			flex: 0 0 61%;
			max-width: 61%;
			order: 1;
			padding-left: 0;
			padding-right: 0;
		}

		.entry-summary-wrapper {
			border-radius: 0;
			display: flex;
			flex-direction: column;
			padding-left: 0;

			@media (min-width: 992px) {
				padding-left: 48px;
			}
		}
	}

	.woocommerce_after_single_product_summary {
		@include col(12, 0);
		margin-top: 0;
		order: 3;

		@media (max-width: 991px) {
			order: 2;
			margin-top: 20px;
		}

		.row {
			@media (max-width: 991px) {
				flex-direction: column-reverse;
			}
		}
	}
}

/*----------------------------------------*/
/*  Product Badges
/*----------------------------------------*/

.product-badges {
	display: flex;
	gap: 8px;
	margin-bottom: 24px;
}

.ath-badge {
	display: inline-block;
	padding: 10px 18px;
	font-size: 12px;
	font-weight: 600;
	color: #fff;
	border-radius: var(--border-radius);
	line-height: 28px;
}

.ath-badge--orange {
	background-color: var(--primary-500);
}


.ath-badge--green {
	background-color: #2F9500;
}

/*----------------------------------------*/
/*  Product Thumbnail
/*----------------------------------------*/
// BIG
.woocommerce-product-gallery {

	.woocommerce-product-gallery__wrapper {
		a {
			display: block;
		}

		img {
			width: 100%;
			height: auto;
			border-radius: var(--border-radius);
		}
	}
}

// SMALL
.woocommerce div.product div.images .flex-control-thumbs {
	display: flex;
	flex-wrap: wrap;
	white-space: nowrap;
	margin-top: 1em;
	justify-content: space-between;

	li {
		width: calc(20% - 16px);
		height: auto;
		padding: 0;
		display: block;

		&.flex-trigger {
			position: relative;
			cursor: pointer;

			&.is-expanded {
				.view-more-overlay {
					opacity: 0;
					z-index: -1;
				}

				img {
					pointer-events: visible;
				}
			}

			* {
				pointer-events: none;
			}

			.view-more-overlay {
				@include abs-full;
				@include flex-center;
				@include image-overlay(0.5);

				overflow: hidden;
				border-radius: 0;
			}

			.view-more {
				position: relative;
				color: var(--bs-white);
				font-weight: 700;
				z-index: 2;
			}
		}
	}

	img {
		aspect-ratio: 1 / 1;
		border-radius: 0;
		object-fit: cover;
		border: 1px solid transparent;
		width: 100%;
		height: auto;
		@include transition;
		border-radius: var(--border-radius);

		&.flex-active {
			border-color: var(--bs-primary);
		}
	}
}

/*----------------------------------------*/
/*  Product Summary
/*----------------------------------------*/
.woocommerce.single-product {

	div.product {
		position: relative;
		color: var(--system-content-1);

		/* product title */
		.product_title {
			@include type-token(36, 48, 500);
			margin-bottom: 8;
			font-family: var(--font-playfair-display);

			@media (max-width: 991px) {
				font-size: 20px;
			}

			@media (max-width: 575px) {
				font-size: 18px;
			}
		}

		// product-subtitle
		.product-subtitle {
			@include type-token(22, 30, 400);
			font-family: var(--font-archivo);
			margin: 16px 0;
		}

		// product-description 
		.product-description {
			@include type-token(18, 28, 400);
			font-family: var(--font-archivo);
			margin-bottom: 24px;
		}

		/* product price */
		.price {
			display: flex;
			align-items: center;
			margin-bottom: 0;
			color: var(--primary-500);
			font-family: var(--font-archivo);
			@include type-token(32, 48, 700);

			// @media (max-width: 420px) {
			// 	flex-direction: column-reverse;
			// 	align-items: flex-start;
			// }

			span bdi {
				color: var(--price-color);
				font-size: 30px;
				font-weight: bold;

				@media (max-width: 991px) {
					font-size: 20px;
				}
			}

			ins {
				text-decoration: none;
				order: 1;
			}

			ins span {
				color: var(--price-color);
				font-size: 30px;
				font-weight: bold;

				@media (max-width: 991px) {
					font-size: 20px;
				}
			}

			del {
				margin-left: 0.625em;
				opacity: 1;
				text-decoration: none;
				order: 2;

				span {
					bdi {
						color: var(--body-text-color);
						font-size: 24px;
						font-weight: 400;
						text-decoration: line-through;

						@media (max-width: 991px) {
							font-size: 16px;
						}
					}
				}
			}
		}

		// product-details-meta
		.product-details-meta {
			display: flex;
			flex-direction: column;
			gap: 12px;
			margin-bottom: 24px;

			@media (max-width: 575px) {
				gap: 8px;
			}

			&__item {
				display: flex;
				align-items: center;
				gap: 8px;
				color: var(--system-content-1);
				font-family: var(--font-archivo);
				@include type-token(18, 28, 400);	
			}

			&__item-text {
				color: #3A3A3A
			}
		}

		// cart-redirect-btn
		.cart-redirect-btn {
			display: flex;
			gap: 8px;
			align-items: center;
			width: 260px;

			span {
				display: flex;
			}
		}

		// contact-us-btn
		.contact-us-btn {
			width: 260px;
		}
	}
}


/*----------------------------------------*/
/*  Product Tab
/*----------------------------------------*/
.woocommerce.single-product {
	.woocommerce-tabs {
		@include col(12, 0);

		@media (min-width: 1024px) {
			margin-top: 0;
		}

		ul.tabs {
			display: flex;
			padding: 0;
			margin: 0 0 1.875em 0;
			display: none;

			&>li {
				background-color: transparent;
				border: 0;
				border-radius: 0;
				color: var(--white);
				padding: 0.5em 1.25em;

				&.active {
					background-color: var(--black);

					&::after {
						content: none;
					}

					&::before {
						content: none;
					}

					a {
						color: var(--white);
					}
				}

				a {
					color: var(--black);
				}
			}
		}

		.woocommerce-Tabs-panel {
			display: block !important;
			margin-bottom: 0;

			&>div {
				padding: 0 20px 30px 20px;
				border-radius: 0;

				@media (max-width: 575px) {
					padding: 0 10px 10px 10px;
				}
			}

			.tab-description-wrapper {
				box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.3);
			}
		}
	}
}

/*----------------------------------------*/
/*  Related
/*----------------------------------------*/
.related {
	margin-top: 0;
	padding: 24px 10px 30px;
	overflow: hidden;
	order: 2;

	@media (max-width: 576px) {
		order: 4;
	}

	.related-wrapper {
		box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.3);
		background-color: #ffffff;
		border-radius: var(--border-radius);
		flex: 0 0 100%;
		max-width: 100%;
		padding: 16px;

		&>h2 {
			margin-bottom: 1em;
			padding: 10px;
			background-color: var(--primary);
			border-radius: 0;
			color: var(--black);
			font-size: 16px;
			font-weight: 700;
			text-transform: capitalize;
			line-height: 22px;
			width: 250px;
		}
	}

	.woocommerce-loop-product__link {
		box-shadow: none !important;
		border: 1px solid #c3c3c9d1;
		border-radius: 0;
	}

	.product-link__image {
		border-radius: 0;
	}
}

/*----------------------------------------*/
/*  SHOW MORE / SHOW LESS
/*----------------------------------------*/

.js-content-toggle {
	&.has-toggle {

		.single__content {
			max-height: 1380px;
			overflow: hidden;
			position: relative;

			&::before {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				bottom: 0;
				z-index: 1;
				background: -webkit-gradient(linear,
						left top,
						left bottom,
						color-stop(50%, rgba(255, 255, 255, 0)),
						to(white));
				background: -webkit-linear-gradient(top,
						rgba(255, 255, 255, 0) 50%,
						white 100%);
				background: linear-gradient(to bottom,
						rgba(255, 255, 255, 0) 50%,
						white 100%);
				pointer-events: none;
			}
		}

		.show-more {
			@include flex-center;
			color: var(--title);
			@include button-style-primary;
			height: 36px;
			width: 150px;
			border-radius: 0;

			svg {
				path {
					stroke: var(--black);
				}
			}

			&:hover {
				svg {
					path {
						stroke: var(--white);
					}
				}
			}
		}

		.show-less {
			display: none;
			color: var(--title);

			@include button-style-primary;
			height: 36px;
			width: 150px;

			svg {
				path {
					stroke: var(--white);
				}
			}

			// &:hover {
			// 	color: var(--primary);
			// }
		}
	}
}

.js-content-toggle.has-toggle.is-expanded {
	.single__content {
		max-height: none;

		&::before {
			content: none;
		}
	}

	.show-more {
		display: none;
	}

	.show-less {
		@include flex-center;
	}
}

.js-btn-toggle-content {
	font-weight: bold;
	margin-top: 16px;
	display: flex;
	justify-content: center;

	svg {
		@include icon(22px);

		& path {
			transition: stroke 0.3s ease;
		}
	}

	&:hover {
		& path {
			stroke: var(--primary);
		}
	}
}