.team-section {
  padding-bottom: 80px;
  padding-top: 80px;

  @media (min-width: 1200px) {
    padding-bottom: 145px;
    padding-top: 120px;
  }
}

.team-section__header {
  margin-bottom: 40px;
  @media (min-width: 1200px) {
    margin-bottom: 120px;
  }
}

.team-section__title {
  color: #ffffff;
}

.team-section__description {
  color: #ffffff;
}

.team-section__heading {
  text-align: left;
  flex-direction: column;
}

.team-section__button {
  border: 1px solid rgb(0 10 44 / 40%);
  color: var(--system-black);
  gap: 8px;

  display: flex;
  padding: 15px 0;
  align-items: center;
  justify-content: center;

  span {
    display: flex;
  }

  @media (min-width: 1200px) {
    display: inline-flex;
    margin-top: 0;
    align-items: center;
    padding: 15px 60px;
  }
}

.team-section__cta {
  margin: 30px 0 60px 0;
  display: none;
}

.team-card__name {
  color: #ffffff;
  @include typo-display-sm(400, 48);
}

.team-card__description {
  color: var(--system-content-2);
  @include typo-token(18, 30, 400);
  margin-bottom: 10px;
}

.team-section__slide {
  position: relative;

  .team-card__description {
    display: none;

    @media (max-width: 1199px) {
      display: block;
    }
  }
}

.team-section__slide.swiper-slide-active {
  .team-card__description {
    display: block;
  }

  .team-card {
    display: flex;
    flex-direction: column;

    @media (min-width: 1200px) {
      flex-direction: column-reverse;
    }
  }
}

.team-section__slide.swiper-slide-next {
  .team-card {
    display: flex;
    flex-direction: column;
  }
}

.team-section__slide.swiper-slide-next+.swiper-slide {
  .team-card {
    display: flex;
    flex-direction: column-reverse;
  }
}

.team-section__slide {
  .team-card {
    @media (max-width: 1199px) {
      display: flex;
      flex-direction: column !important;
    }
  }
}

.team-section__slider-wrap {

  .swiper-button {
    top: -87px;
    left: auto;
    right: 0;
    display: none;

    @media (max-width: 1199px) {
      top: 50%;
      transform: translateY(-50%);
    }

    &.swiper-button-prev {
      right: auto;
      left: 0;
      color: var(--system-white);
      border-color: var(--system-white);

      @media (min-width: 1200px) {
        right: 56px;
        left: auto;
      }
    }

    &.swiper-button-next {
      right: 0;
      left: auto;
      color: var(--system-white);
      border-color: var(--system-white);

      @media (min-width: 1200px) {
        right: 0;
      }
    }
  }

  // &::before {
  //   content: '';
  //   width: 0;
  //   height: 0;
  //   border-left: 105px solid transparent;
  //   border-right: 105px solid transparent;
  //   border-bottom: 210px solid #DE1F26;
  //   position: absolute;
  //   left: -50px;
  //   bottom: -30px;
  //   pointer-events: none;
  //   z-index: 0;
  //   display: none;

  //   @media (min-width: 1200px) {
  //     display: block;
  //   }
  // }

  &::after {
    content: '';
    width: 304px;
    height: 304px;
    background-color: #48BDA6;
    position: absolute;
    right: -125px;
    bottom: 0;
    border-radius: 50%;
    pointer-events: none;
    z-index: 0;
    display: none;

    @media (min-width: 1200px) {
      display: block;
    }
  }
}

.team-section__slider-inner {
  padding-left: 24px;
  padding-right: 24px;
  position: relative;

  &::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 105px solid transparent;
    border-right: 105px solid transparent;
    border-bottom: 210px solid #DE1F26;
    position: absolute;
    left: calc(((100vw - 1280px) / 2) - 50px);
    bottom: -30px;
    pointer-events: none;
    z-index: 0;
    display: none;

    @media (min-width: 1200px) {
      display: block;
    }
  }

  @media(min-width: 1200px) {
    padding-left: calc(( (100vw - 1280px) / 2 ) - 24px);
    padding-right: 0;
  }
}

.team-section__swiper {
  position: relative;
  z-index: 2;

  .swiper-wrapper {
    padding-top: 0;

    @media (min-width: 1200px) {
      padding-top: 50px;
    }
  }

  .swiper-slide-next {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: -30px;
      top: -40px;
      z-index: -1;
      width: 255px;
      height: 255px;
      background-color: #0050A2;

      @media (max-width: 1199px) {
        display: none;
      }
    }
  }
}

.team-card__position {
  color: var(--system-content-2);
  @include typo-display-xs(400);
  margin: 10px 0;
}

.team-card__media {
  .image {
    @include ratio(1/1);
  }
}

.our-team__light {
  position: absolute;
  left: 0;
  right: auto;
  top: 0;
  z-index: 0;
}