.about-us {
  background: #090808;
  color: #ffffff;
  overflow: unset;
  position: relative;
  padding-bottom: 80px;
  padding-top: 80px;
  z-index: 3;

  @media (min-width: 1200px) {
    padding-bottom: 120px;
    padding-top: 290px;
  }

  .image__light.mobile {
    left: -24px;
  }

  // .image__light.desktop {
  //   top: -160px;
  // }
}

.about-us__image-wrap {
  @media (max-width: 1199px) {
    text-align: center;
  }
}

.about-us__grid {
  display: flex;
  flex-direction: column-reverse;

  @include clearfix();

  @media (min-width: 1200px) {
    display: block;
  }
}

.about-us__header {
  flex-direction: column;
  text-align: left;
  margin-top: 0;

  // @media (min-width: 1200px) {
  //   margin-top: -50px;
  // }
}

.about-us__media .about-us__header {
  margin-top: 0;
}

.about-us__title {
  margin-bottom: 40px;

  &.desktop {
    display: none;

    @media (min-width: 1200px) {
      display: block;
      margin-bottom: 64px;
    }
  }

  &.mobile {
    display: block;

    @media (min-width: 1200px) {
      display: none;
    }
  }
}

.product-cat-grid .glow {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: rgba(237, 191, 27, 0.2);
  filter: blur(144px);
  bottom: -150px;
  right: -50%;
  display: none;
}

.about-us .glow {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: rgba(237, 191, 27, 0.2);
  filter: blur(144px);
  top: -150px;
  right: -50%;
  display: none;

  @media (min-width: 1200px) {
    display: none;
  }
}

// .about-us__light {
//   position: absolute;
//   top: -190px;
//   right: 0;
//   z-index: 0;

//   @media (min-width: 1440px) {
//     left: 0;
//   }

//   &.desktop {
//     display: none;

//     @media (min-width: 1200px) {
//       display: block;
//     }
//   }

//   &.mobile {
//     display: block;

//     @media (min-width: 1200px) {
//       display: none;
//     }
//   }
// }

.about-us__description {
  @include content-style();
}

.about-us__stats {
  display: block;
  margin-top: 50px;
  @include clearfix();
}

.about-us__stat {
  float: left;
  width: 50%;
  margin-bottom: 40px;
  text-align: center;

  @media (min-width: 1200px) {
    width: 25%;
    margin-bottom: 0;
    text-align: left;
  }
}

.about-us__stat-value {
  font-family: 'Beautique Display';
  @include typo-token(48, 48, 500);
  margin-bottom: 10px;
}

.about-us__stat-label {
  @include typo-text-md(400);
  color: var(--system-content-2);
}

.about-us__actions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 0;

  @media (min-width: 1200px) {
    margin-top: 60px;
  }
}

.about-us__button {
  @media (max-width: 1199px) {
    width: 100%;
    text-align: center;
  }
}

.about-us__button--primary {}

.about-us__button--secondary {
  background-color: transparent;
  border: 1px solid var(--system-white);
}

.about-us__content {
  float: left;
  width: 100%;

  @media (min-width: 1200px) {
    width: 50%;
  }
}

.about-us__media {
  float: right;
  width: 100%;
  padding-top: 0;
  position: relative;
  margin-bottom: 80px;

  @media (min-width: 1200px) {
    margin-top: 20px;
    margin-bottom: 0;
  }

  @media (min-width: 1200px) {
    width: 50%;
  }
}

.about-us__media-accent {
  background: var(--primary-500);
  top: -30px;
  height: 355px;
  left: 90px;
  pointer-events: none;
  position: absolute;
  width: 355px;
  z-index: 0;
  display: none;

  @media (min-width: 1200px) {
    display: block;
  }
}

.about-us__content-wrapper {
  padding-right: 0;

  @media (min-width: 1200px) {
    padding-right: 80px;
  }
}

.about-us__media-primary {
  display: flex;
  justify-content: flex-end;
  position: relative;

  figure {
    @include ratio(628/513);
    width: 513px;
    text-align: right;

    @media (max-width: 1199px) {
      width: 80%;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border: 1px solid rgba(#ffffff, 0.7);
      transform: scale(0.5);
      transform-origin: 0 0;
      width: calc(200% - 3px);
      height: calc(200% - 2px);
      pointer-events: none;
      z-index: 1;
    }

    .about-us__image--primary {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }
  }
}

.about-us__media-secondary {
  position: absolute;
  bottom: -50px;
  z-index: 1;

  figure {
    @include ratio(250/339);
    width: 339px;

    @media (max-width: 575px) {
      @include ratio(125/170);
      width: 170px;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border: 1px solid rgba(#ffffff, 0.7);
      transform: scale(0.5);
      transform-origin: 0 0;
      width: calc(200% - 3px);
      height: calc(200% - 2px);
      pointer-events: none;
      z-index: 2;
    }

    .about-us__image--secondary {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }
  }
}