.about-us {
  background: #090808;
  color: #ffffff;
  overflow: unset;
  position: relative;
}

.about-us__grid {
  display: block;

  @include clearfix();
}

.about-us__header {
  flex-direction: column;
  text-align: left;
  margin-top: -50px;
}

.about-us__title {
  margin-bottom: 64px;
}

.about-us__light {
  position: absolute;
  top: -190px;
  left: 0;
  z-index: 0;
  transform: scale(1);

  @media (min-width: 1440px) {
    transform: scale(1.5);
  }
}

.about-us__description {
  color: var(--system-content-2);
  @include typo-text-lg(400);

  h2,
  h3,
  h4,
  strong {
    color: #fff;
    @include typo-display-xs(500);
  }

  h2,
  h3,
  h4 {
    margin-bottom: 16px;
  }

  p {
    margin-bottom: 16px;
    @include typo-text-lg(400);
  }

  ul {
    margin-bottom: 16px;
    list-style-type: disc;
    margin-left: 33px;

    li {
      margin-bottom: 10px;
      @include typo-text-lg(400);
    }
  }
}

.about-us__stats {
  display: block;

  @include clearfix();
}

.about-us__stat {
  float: left;
  width: 25%;
}

.about-us__stat-value {
  font-family: 'Beautique Display';
  @include typo-token(48, 48, 500);
}

.about-us__stat-label {
  @include typo-text-md(400);
  color: var(--system-content-2);
}

.about-us__actions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2.5rem;
}

.about-us__button {}

.about-us__button--primary {}

.about-us__button--secondary {
  background-color: transparent;
  border: 1px solid var(--system-white);
}

.about-us__content {
  float: left;
  width: 50%;
}

.about-us__media {
  float: right;
  width: 50%;
}