.page-blog {

	.page-blog__row {
		@include clearfix();

		.page-blog__left {
			width: 70%;
			float: left;

			.row {
				@include clearfix();

				.post-card--col {
					@include float-grid(3, 32px)
				}
			}
		}

		.page-blog__right {
			width: 30%;
			float: right;
		}
	}

	& article {
		margin-bottom: 20px;

		.post-card__image {
			@include ratio(1/1)
		}

		& .post-card__content {
			padding: 20px 20px;
			background-color: #ffffff;
			box-shadow: 0 30px 50px 0 rgba(8, 0, 42, 0.08);
		}

		& .post-card__button {
			background: var(--black);
			color: var(--white);
			@include button-large;
			display: inline-block;
			transition: background 0.3s ease, color 0.3s ease;

			&:hover {
				background: var(--primary);
				color: var(--white);
			}
		}
	}

}