/*----------------------------------------*/
/*  Toggle Menu
/*----------------------------------------*/
.toggle-menu-mobile {
	width: 30px;
	display: none;

	&:hover {
		cursor: pointer;

		.line {
			-webkit-transform: rotate(-30deg);
			-ms-transform: rotate(-30deg);
			-o-transform: rotate(-30deg);
			-moz-transform: rotate(-30deg);
			transform: rotate(-30deg);
		}

		.line:nth-child(1) {
			width: 10px;
		}

		.line:nth-child(2) {
			width: 20px;
		}
	}

	.line {
		width: 25px;
		height: 3px;
		background-color: var(--system-black);
		display: block;
		margin: 5px auto;
		transition: 0.3s ease-in-out;
	}
}

/*----------------------------------------*/
/*  Mobile Menu
/*----------------------------------------*/
.th-menu-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 999999;
	width: 100%;
	height: 100%;
	-webkit-transition: all ease 0.5s;
	transition: all ease 0.5s;
	opacity: 0;
	visibility: hidden;

	& .th-menu-wrapper__overlay {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.6);
		width: 100%;
		height: 100%;
		-webkit-transition: all ease 0.5s;
		transition: all ease 0.5s;
		opacity: 0;
		visibility: hidden;
	}
}

.th-menu-wrapper .mobile-logo {
	padding-top: 56px;
	padding-left: 24px;
	margin-bottom: 24px;

	span {
		font-family: var(--font-beautique-display);
		@include typo-token(32, 36, 500);
		color: rgba(47, 47, 47, 1);
	}
}

// .th-menu-wrapper .mobile-logo svg {
// 	max-width: 185px;
// }

.th-menu-wrapper .th-menu-toggle {
	border: none;
	font-size: 22px;
	position: absolute;
	right: -16.5px;
	top: 13px;
	padding: 0;
	line-height: 1;
	width: 33px;
	height: 33px;
	z-index: 1;
	color: var(--system-white);
	background-color: var(--primary-500);
	border-radius: 50%;

	@include flex-center;

	svg {
		fill: var(--system-white);
		@include icon(16px);
	}
}

body.th-body-visible {
	overflow: hidden;
}

.th-menu-wrapper .th-menu-toggle:hover {
	background-color: var(--title-color);
	color: var(--system-white);
}

.th-menu-wrapper .th-menu-area {
	width: 87%;
	background-color: #fff;
	border-right: 3px solid var(--primary-500);
	height: 100%;
	position: relative;
	left: -110%;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all ease 0.5s;
	transition: all ease 0.5s;
	z-index: 1;
}

.th-menu-wrapper.th-menu-visible {
	opacity: 1;
	visibility: visible;

	& .th-menu-wrapper__overlay {
		opacity: 1;
		visibility: visible;
	}
}

.th-menu-wrapper.th-menu-visible .th-menu-area {
	left: 0;
	opacity: 1;
	visibility: visible;
}

.th-mobile-menu {
	overflow-y: scroll;
	max-height: calc(100vh - 100px);
	text-align: left;
}

.th-mobile-menu ul {
	margin: 0;
	padding: 0 0;
}

.th-mobile-menu ul li {
	border-bottom: 1px solid var(--system-border);
	list-style-type: none;

	&.th-li-active {
		&>a {
			color: var(--primary-500);
		}
	}
}

.th-mobile-menu ul li li:first-child {
	border-top: 1px solid var(--system-border);
}

.th-mobile-menu ul li a {
	display: block;
	position: relative;
	padding: 12px 0;
	text-transform: capitalize;
	color: var(--system-black);
	@include typo-text-md(400);
	display: flex;
	align-items: center;
	gap: 8px;
}

.th-mobile-menu ul li {
	&.mobile.not_login {
		display: none;
	}

	&.mobile.is_login {
		display: block;
	}

	&.label {
		a {
			color: var(--system-content-1);
			@include typo-text-md(400);
		}

		&.mobile.not_login {
			display: none;
		}

		&.mobile.is_login {
			display: block;
		}

		&.mobile.not_login.main {
			display: block;
		}
	}

	&.text-primary-500 {
		a {
			color: var(--primary-500);
		}
	}
}

.th-mobile-menu ul li a:before {
	content: url(data:image/svg+xml;base64,PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KDTwhLS0gVXBsb2FkZWQgdG86IFNWRyBSZXBvLCB3d3cuc3ZncmVwby5jb20sIFRyYW5zZm9ybWVkIGJ5OiBTVkcgUmVwbyBNaXhlciBUb29scyAtLT4KPHN2ZyB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+Cg08ZyBpZD0iU1ZHUmVwb19iZ0NhcnJpZXIiIHN0cm9rZS13aWR0aD0iMCIvPgoNPGcgaWQ9IlNWR1JlcG9fdHJhY2VyQ2FycmllciIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cg08ZyBpZD0iU1ZHUmVwb19pY29uQ2FycmllciI+IDxwYXRoIGQ9Ik0xMCA3TDE1IDEyTDEwIDE3IiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4gPC9nPgoNPC9zdmc+);
	position: absolute;
	left: 0;
	top: 15px;
	margin-right: 10px;
	display: inline-block;
	display: none;
}

.th-mobile-menu ul li.th-active>a {
	color: var(--primary-500);
}

.th-mobile-menu ul li.th-active>a:before {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.th-mobile-menu ul li ul li a {
	@include typo-token(14, 20, 500);
	font-family: var(--font-archivo);
}

.th-mobile-menu ul li ul li {
	border: 0;
}

.th-mobile-menu ul li ul li:last-child {
	border-bottom: none;
}

.th-mobile-menu ul .th-item-has-children>a .th-mean-expand {
	position: absolute;
	right: 0;
	top: 50%;
	width: 25px;
	height: 25px;
	text-align: center;
	transform: translateY(-50%);
}

.th-mobile-menu ul .th-item-has-children>a .th-mean-expand:before {
	content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyIDUuMjVDMTIuNDE0MiA1LjI1IDEyLjc1IDUuNTg1NzkgMTIuNzUgNlYxMS4yNUgxOEMxOC40MTQyIDExLjI1IDE4Ljc1IDExLjU4NTggMTguNzUgMTJDMTguNzUgMTIuNDE0MiAxOC40MTQyIDEyLjc1IDE4IDEyLjc1SDEyLjc1VjE4QzEyLjc1IDE4LjQxNDIgMTIuNDE0MiAxOC43NSAxMiAxOC43NUMxMS41ODU4IDE4Ljc1IDExLjI1IDE4LjQxNDIgMTEuMjUgMThWMTIuNzVINkM1LjU4NTc5IDEyLjc1IDUuMjUgMTIuNDE0MiA1LjI1IDEyQzUuMjUgMTEuNTg1OCA1LjU4NTc5IDExLjI1IDYgMTEuMjVIMTEuMjVWNkMxMS4yNSA1LjU4NTc5IDExLjU4NTggNS4yNSAxMiA1LjI1WiIgZmlsbD0iIzZGNzI3MyIvPgo8L3N2Zz4K);
	display: flex;
	width: 100%;
	height: 100%;
}

.th-mobile-menu ul .th-item-has-children.th-li-active>a .th-mean-expand:before {
	content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE4IDExLjI1QzE4LjQxNDIgMTEuMjUgMTguNzUgMTEuNTg1OCAxOC43NSAxMkMxOC43NSAxMi40MTQyIDE4LjQxNDIgMTIuNzUgMTggMTIuNzVINkM1LjU4NTc5IDEyLjc1IDUuMjUgMTIuNDE0MiA1LjI1IDEyQzUuMjUgMTEuNTg1OCA1LjU4NTc5IDExLjI1IDYgMTEuMjVIMThaIiBmaWxsPSIjNkY3MjczIi8+Cjwvc3ZnPgo=);
}

// .th-mobile-menu ul .th-item-has-children>a:after {
// 	content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE4IDExLjI1QzE4LjQxNDIgMTEuMjUgMTguNzUgMTEuNTg1OCAxOC43NSAxMkMxOC43NSAxMi40MTQyIDE4LjQxNDIgMTIuNzUgMTggMTIuNzVINkM1LjU4NTc5IDEyLjc1IDUuMjUgMTIuNDE0MiA1LjI1IDEyQzUuMjUgMTEuNTg1OCA1LjU4NTc5IDExLjI1IDYgMTEuMjVIMThaIiBmaWxsPSIjNkY3MjczIi8+Cjwvc3ZnPgo=);
// 	display: inline-block;
// 	text-align: center;
// }

.th-mobile-menu ul .th-item-has-children.th-active>a .th-mean-expand:before {
	content: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IS0tIFVwbG9hZGVkIHRvOiBTVkcgUmVwbywgd3d3LnN2Z3JlcG8uY29tLCBHZW5lcmF0b3I6IFNWRyBSZXBvIE1peGVyIFRvb2xzIC0tPg0KPHN2ZyB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTIgMTEuNUMyIDEwLjk0NzcgMi40NDc3MiAxMC41IDMgMTAuNUwyMSAxMC41QzIxLjU1MjMgMTAuNSAyMiAxMC45NDc3IDIyIDExLjVWMTIuNUMyMiAxMy4wNTIzIDIxLjU1MjMgMTMuNSAyMSAxMy41SDNDMi40NDc3MiAxMy41IDIgMTMuMDUyMyAyIDEyLjVWMTEuNVoiIGZpbGw9IiMwMDAwMDAiLz4NCjwvc3ZnPg==);
}

.th-mobile-menu ul .th-item-has-children.th-active>a:after {
	content: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IS0tIFVwbG9hZGVkIHRvOiBTVkcgUmVwbywgd3d3LnN2Z3JlcG8uY29tLCBHZW5lcmF0b3I6IFNWRyBSZXBvIE1peGVyIFRvb2xzIC0tPg0KPHN2ZyB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTIgMTEuNUMyIDEwLjk0NzcgMi40NDc3MiAxMC41IDMgMTAuNUwyMSAxMC41QzIxLjU1MjMgMTAuNSAyMiAxMC45NDc3IDIyIDExLjVWMTIuNUMyMiAxMy4wNTIzIDIxLjU1MjMgMTMuNSAyMSAxMy41SDNDMi40NDc3MiAxMy41IDIgMTMuMDUyMyAyIDEyLjVWMTEuNVoiIGZpbGw9IiMwMDAwMDAiLz4NCjwvc3ZnPg==);
}

.th-mobile-menu>ul {
	padding: 0 24px;
}

.th-mobile-menu ul.sub-menu.th-open {
	display: block;
}

.th-mobile-menu>ul>li:last-child {
	border-bottom: none;
}

.th-menu-toggle {
	padding: 0;
	border: none;
	cursor: pointer;
	display: flex;

	svg {
		fill: var(--system-white);
		@include icon(20px);
	}

	@media (min-width: 1024px) {
		display: none;
	}


}

.th-menu-toggle.style-text,
.th-menu-toggle.style-text-white {
	width: auto;
	height: auto;
	background-color: transparent;
	color: var(--title);
	font-size: 20px;
}

.th-menu-toggle.style-text i,
.th-menu-toggle.style-text-white i {
	margin-right: 10px;
}

.th-menu-toggle.style-text-white {
	color: var(--system-white);
}

@media (max-width: 400px) {
	.th-menu-wrapper .th-menu-area {
		width: 100%;
		max-width: 270px;
	}

	.th-mobile-menu>ul {
		padding: 0 20px;
	}
}

// Custom section not login

.not_login_mobile_menu {
	.not_login_mobile_menu_wrap {
		padding: 0 24px;
		display: flex;
		flex-direction: column;
		gap: 10px;
		
		a {
			text-align: center;

			&.not_login_mobile__register-account {
				border: 1px solid var(--system-border);
			}
		}
	}
}